body {
    background-image: url("https://www.worshipbackgroundsforfree.com/wp-content/uploads/2012/03/Screen-shot-2012-03-02-at-9.20.36-AM.png");
    background-size: 100%;
}

.gravity {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    position: relative;
    animation-name: gravity;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gravity:hover {
    animation-play-state: paused;
}

@keyframes gravity {
    0%   {
        background-color:lightcoral;
        top:12px;
        left:10px;
    }
    25%  {
        background-color:lightsalmon;
        top:12px;
        left:60px;
        transform: scale(1);
    }
    50%  {
        background-color:lightyellow;
        top:12px;
        left:110px;
        transform: scale(2);
    }
    75%  {
        background-color:lightgreen;
        top:12px;
        left:160px;
        transform: scale(1);
    }
    100% {
        background-color:lightblue;
        top:12px;
        left:210px;
    }
  }