body {
    background-image: url("https://pngimage.net/wp-content/uploads/2018/06/white-background-png-5.png");
    background-size: 100%;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}